<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название устройства" %><br>
    <%= f.text_field :name , :class=>"form-control", :style=>"width: 500px;" %>
  </div> 
  <div class="td" style="width: 500px;" >
    <%= f.label "Краткое описание" %><br>
    <%= f.text_area :description, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label "Комната" %><br>
    <%= f.text_field :room, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label :mac %><br>
    <%= f.text_field :mac, :class=>"form-control", :style=>"width: 500px;"   %>
  </div>
  <div class="field">
    <%= f.label 'Серийный номер:' %><br>
    <%= f.text_field :serial_number, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Модель:' %><br>
    <%= f.text_field :model, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Адресс:' %><br>
    <%= f.text_field :peername, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Порт:' %><br>
    <%= f.number_field :port, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Логин:' %><br>
    <%= f.text_field :login, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Пароль:' %><br>
    <%= f.text_field :password, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>
  <div class="field">
    <%= f.label 'Закрытый пароль:' %><br>
    <%= f.text_field :priv_password, :class=>"form-control", :style=>"width: 500px;"  %>
  </div>



  <div class="actions">
    <%= f.submit 'Сохранить', :class=>"btn btn-primary btn-sm"%>  
  </div>
<% end %>
