= form_for @walk_request do |f|
  - if @walk_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@walk_request.errors.count, "error")} prohibited this walk_request from being saved:"
      %ul
        - @walk_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "oid: "
    = f.text_field :request, class: "form-control", style: "width: 500px;"
  
  .field
    = f.label "Краткое описание: "
    = f.text_field :description, class: "form-control", style: "width: 500px;"
  .actions
    = f.submit 'Сохранить', class: "btn btn-primary"
