- if @results.nil?
  =label_tag "Записей нет"
- else

  - if @view_id.to_i == 1
    .list-group-item{:style => "margin-left: -150px; margin-right: -150px;;"}
      =label_tag "результат поиска(#{@results.size})"
      .draw-shapes{id: 'placeholder', class: 'table-form'}
      .draw-shapes{id: 'overview', class: 'table-form '}
      .list-group{style: 'display:none', id: 'data-result-search'}
        - if @results.size > 0 && @results[1].context.split("INTEGER: ").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("INTEGER: ")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}
        - if @results.size > 0 && @results[1].context.split("COUNTER32: ").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("COUNTER32: ")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}
        - if @results.size > 0 && @results[1].context.split("GAUGE32: ").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("GAUGE32: ")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}
        - if @results.size > 0 && @results[1].context.split("UNSIGNED32: ").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("UNSIGNED32: ")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}
        - if @results.size > 0 && @results[1].context.split("Timeticks: (").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("Timeticks: (")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}
        - if @results.size > 0 && @results[1].context.split("Counter64: ").size > 1
          - @results.each do |point|
            .list-group-item{class: 'point'}
              %input{name: "value", value: "#{point.context.split("Counter64: ")[1].to_i}"}
              %input{name: "date", value: "#{point.created_at.to_i}"}

             
            

  - else
    .list-group
      - @results.each do |p|
        .list-group-item
          %i
            %b Тип
          %i= p.r_type 
          %p
          %i
            %b Время:
          %i= p.created_at 
          %p
          %i
            %b Содержание:
          %i= p.context
    = paginate @results
