= form_for @oid do |f|
  - if @oid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oid.errors.count, "error")} prohibited this oid from being saved:"
      %ul
        - @oid.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :oid
    = f.text_field :oid, class: 'form-control'
  .form-group
    = f.label :translate
    = f.text_field :translate, class: 'form-control'
  .form-group
    = f.label "Активный" 
    = f.check_box :active, class: 'form-group checkbox'
  .form-group 
    %input{:type=>"hidden", :value=>@device_id, :name=>:device_id}

  .actions
    = f.submit 'Добавить', class: "btn btn-primary btn-sm" do 
      =fa_icon 'plus'
