.page-header
  %h1 Список Oids
.list-form
  - @oids.each do |oid|
    .list-group-item{:style=>"white-space: nowrap; margin-top: 5px;"}
      .div
        .div{:style => "float:left;"}
          %b Описание:
          %h4 "#{oid.translate}"
        .div{style: "float: left; margin-left: 10%;"}
          %b Oid: 
          %h4 #{oid.oid}
        .div{style: "float: left; margin-left: 10%;"}
          %b Active:
          %h4 #{oid.active == true ? "Активен" : "Неактивен"}
        .div{style: "float: left; margin-left: 10%;"}
          %b Отправлять каждые:
          %h4 #{oid.ping_request} секунд
      .pull-right
        =link_to edit_oid_path(oid), class: 'btn btn-primary btn-sm' do
          =fa_icon 'edit'
        =link_to oid, method: :delete, data: {confirm: "Вы уверены?"}, class: 'btn btn-danger btn-sm' do
          =fa_icon 'trash-o'
      .clearfix
-if !@device_id.nil?
  = link_to '+ Добавить ', new_oid_path+"/?device_id=#{@device_id.to_i}", :class => "btn btn-primary btn-white-text", style: "margin-top:5px;"
