	
%p
  %b Oid:
  = @oid.oid
%p
  %b Описание:
  = @oid.translate
%p
  %b Активен:
  = @oid.active ? "Да" : "НЕ 	"
%p
  %b Id устройства:
  = @oid.device_id
%p
  %b  Задержка запроса:
  = @oid.ping_request

= link_to 'Edit', edit_oid_path(@oid)
